.darkModeContainer{
  min-height: 100vh;
  background-color: black !important;
  color: #ffffff !important;
}
.darkModeContainer *{
  color: white !important;
  background-color: rgb(67, 65, 65) !important;
}
body{
  margin: 0;
}